$title: #120D26;
$accent: #FF7058;
$text: #94959A;

%poppins-300 {
  font-family: 'Poppins-Light', sans-serif;
  font-weight: 300;
}

%poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%raleway-300 {
  font-family: 'Raleway-Light', sans-serif;
  font-weight: 300;
}

%raleway-700 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}

%accent-btn {
  border-radius: 15px;
  background-color: $accent;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  @extend %poppins-500;
}

%title-font {
  @extend %poppins-700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: $title;
}
