@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


/* Header
================================== */
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.menu__inner {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-right: 1.5px solid #F2F2F2;
  &-link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #94959A;
    padding-left: 50px;
    padding-bottom: 6px;
    transition: all .3s;
    &:hover {
      color: $accent;
    }
  }
  &-link--active {
    position: relative;
    color: $accent;
    &::before {
      position: absolute;
      content: '';
      width: 41px;
      height: 2px;
      border-radius: 2px;
      background-color: $accent;
      bottom: 0;
      left: 54%;
    }
  }
}

.user__nav-btn {
  color: $title;
  @extend %poppins-600;
  font-size: 16px;
  line-height: 25px;
  transition: all .3s;
  &:hover {
    background-color: #120D26;
    border-radius: 6px; 
    color: #fff;
  }
}

.user__nav-login {
  padding: 12px 16px;
  margin-right: 30px;
  margin-left: 30px;
}

.user__nav-signup {
  padding: 12px 42px;
}


/* Footer
================================== */
.footer {
  margin-top: 69px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  &__wrapper {
    display: flex;
  }
  &__box {
    margin-bottom: 92px;
  }
  &__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 37px;
  }
  &__list {
    padding-left: 0;
    width: 129px;
    margin-right: 207px;
  }
  &__link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: $accent;
    margin-bottom: 18px;
    display: block;
    transition: all .3s;
    &:hover {
      color:  $text;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 82px;
  border-top: 2px solid #120D26;
  &__social-list {
    display: flex;
    align-items: center;
  }
  &__social-item {
    margin-left: 26px;
  }
}


/* Select styler
================================== */
.jq-selectbox__select {
  height: 53px;
  padding: 13px 121px 15px 10px;
  border: none;
  border-bottom-color: transparent;
  border-radius: 8px;
  background: none;
  box-shadow: 0px 10px 20px rgba(241, 102, 24, 0.15);
  font: 18px/25px 'Poppins-SemiBold', sans-serif;
  color: $title;
  text-shadow: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 22px;
  right: 17px;
  width: 16px;
  height: 9px;
  background-image: url(../images/icons/drop-down-arrow.svg);
  border-top: none;
  border-right: none;
  border-left: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid transparent;
}


/* Top section
================================== */
.top {
  margin: 47px 0 129px;
  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../images/decor/decor-1.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
  &__item {
    padding-top: 53px;
    
  }
  &__item-title {
    margin-bottom: 33px;
    width: 550px;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    color: $title;
    @extend %poppins-700;
  }
  &__item-text {
    width: 585px;
    margin-bottom: 58px;
    font-size: 20px;
    line-height: 30px;
    color: $text;
    @extend %poppins-400;
  }
  &__item-btn {
    @extend %accent-btn;
    padding: 22px 82px 22px 48px;
    margin-right: 27px;
    position: relative;
    &:hover {
      background-color: $title;
    }
    &::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 16px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 52px;
      bottom: 26px;
    }
  }
  &__item-credit {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: $accent;
    @extend %poppins-500;
  }
  &__item-img {
    max-width: 530px;
    object-fit: cover;
  }
}


/* Partners
================================== */
.partners {
  margin: 118px 0;
  &__text {
    font-size: 22px;
    line-height: 34px;
    color: $text;
    @extend %poppins-500;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}


/* Pricing section
================================== */
.pricing {
  margin-bottom: 182px;
  &__top {
    padding: 43px 0 53px;
    background-color: rgba(255, 112, 88, 0.05);
  }
  &__top-title {
    @extend %title-font;
    margin-bottom: 20px;
    text-align: center;
  }
  &__top-text {
    color: $text;
    @extend %poppins-400;
    text-align: center;
  }
  &__bottom {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-box {
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    width: 401px;
    padding: 37px 52px 35px 52px;
    text-align: center;
  }
  &__bottom-box--design {
    height: 535px;
  }
  &__bottom-box--popular {
    height: 711px;
  }
  &__bottom-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 22px;
  }
  &__bottom-money {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: $title;
    @extend %poppins-700;
  }
  &__bottom-hours {
    color: $text;
  }
  &__bottom-item-title {
    font-size: 36px;
    line-height: 54px;
    color: $accent;
    margin-bottom: 22px;
  }
  &__bottom-item-text {
    color: $text;
    @extend %poppins-400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 2px solid #F2F2F2;
  }
  &__bottom-list {
    padding-left: 0;
    margin-bottom: 27px;
    text-align: start;
  }
  &__bottom-list__item {
    font-size: 20px;
    line-height: 30px;
    @extend %poppins-500;
    color: $title;
    margin-bottom: 29px;
    padding-left: 55px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 54px;
      height: 53px;
      background-image: url(../images/icons/check.svg);
      left: -15px;
      top: -18px;
    }
  }
  &__bottom-item__btn {
    @extend %accent-btn;
    padding: 27px 106px;
    display: block;
    &:hover {
      background-color: $title;
    }
  }
}


/* Users section
================================== */
.users {
  margin: 145px 0;
  &__title {
    padding: 26px 0 20px;
    background-color: rgba(255, 112, 88, 0.05);
    text-align: center;
    @extend %title-font;
    margin-bottom: 49px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 41px;
  }
  &__item {
    width: 400px;
    text-align: center;
    padding: 80px 45px;
    box-shadow: 0px 10px 40px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
  }
  &__item-title {
    font-size: 24px;
    line-height: 36px;
    color: $title;
    margin-bottom: 28px;
  }
  &__item-text {
    color: $text;
    @extend %poppins-400;
    margin-bottom: 28px;
  }
  &__item-stars {
    margin-bottom: 28px;
  }
  &__item-name {
    font-size: 15px;
    line-height: 22px;
    @extend %poppins-500;
  }
}


/* Rateyo
================================== */
.jq-ry-container {
  margin-right: auto;
  margin-left: auto;
}


/* Global section
================================== */
.global {
  padding-top: 131px;
  background-color: rgba(255, 112, 88, 0.05);
  &__inner {
    display: flex;
  }
  &__inner-info {
    padding-top: 60px;
    width: 487px;
    margin-right: 93px;
  }
  &__inner-title {
    @extend %title-font;
    margin-bottom: 23px;
  }
  &__inner-text {
    @extend %poppins-400;
    color: $text;
    margin-bottom: 63px;
  }
  &__inner-btn {
    @extend %accent-btn;
    padding: 22px 82px 22px 48px;
    position: relative;
    &:hover {
      background-color: $title;
    }
    &::before {
      position: absolute;
      content: '';
      width: 9px;
      height: 16px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 52px;
      bottom: 26px;
    }
  }
  &__inner-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-bottom: 220px;
  }
  &__inner-img {
    position: relative;
    object-fit: cover;
  }
  &__inner-img1 {
    max-width: 330px;
  }
  &__inner-img2 {
    max-width: 290px;
    right: -79px;
    top: 76px;
  }
  &__inner-img3 {
    top: 78px;
    right: -59px;
    max-width: 250px;
  }
  &__inner-img4 {
    top: 133px;
    right: -40px;
    max-width: 330px;
  }
}



/* Digital section
================================== */
.digital {
  padding: 113px 0;
  background-color: rgba(255, 112, 88, 0.05);
  &__inner {
    padding: 96px 209px;
    background-color: #FF7058;
    border-radius: 25px;
    text-align: center;
  }
  &__inner-title {
    @extend %title-font;
    color: #fff;
    margin-bottom: 38px;
  }
  &__inner-text {
    @extend %poppins-400;
    color: #fff;
    margin-bottom: 38px;
  }
  &__inner-btn {
    @extend %accent-btn;
    background-color: #fff;
    padding: 22px 66px;
    color: $title;
    &:hover {
      background-color: $title;
      color: #fff;
    }
  }
}


/* Price-top section
================================== */
.price-top {
  margin: 60px 0 146px;
  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../images/decor/decor-1.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
  &__item {
    width: 637px;
    padding-top: 85px;
  }
  &__btn {
    @extend %accent-btn;
    padding: 14px 60px;
    margin-bottom: 14px;
    display: inline-block;
    &:hover {
      background-color: $title;
    }
  }
  &__title {
    @extend %poppins-700;
    color: $title;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    margin-bottom: 34px;
  }
  &__text {
    @extend %poppins-400;
    font-size: 20px;
    line-height: 30px;
    color: $text;
  }
  &__img {
    max-width: 510px;
    object-fit: cover;
  }
}


/* Solution section
================================== */
.solution {
  padding-top: 35px;
  background-color: rgba(255, 112, 88, 0.05);
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @extend %poppins-700;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    width: 880px;
    padding-bottom: 61px;
    margin-bottom: 50px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 291px;
      height: 1px;
      border-bottom: 2px solid #94959A;
      bottom: 0;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: $text;
    @extend %poppins-500;
    width: 620px;
    margin-bottom: 48px;
  }
  &__btn {
    @extend %accent-btn;
    padding: 22px 41px;
    &:hover {
      background-color: $title;
    }
  }
  &__img {
    padding-top: 174px;
    padding-bottom: 187px;
  }
}


/* About section
================================== */
.about {
  padding: 41px 0 82px;
  &__items {
    display: flex;
    position: relative;
    background-image: url(../images/decor/decor-1.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
  &__item {
    margin-right: 110px;
    padding-top: 183px;
  }
  &__title {
    @extend %poppins-700;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    margin-bottom: 19px;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: $text;
    @extend %poppins-400;
    margin-bottom: 31px;
  }
  &__btn {
    @extend %accent-btn;
    padding: 22px 39px;
    display: inline-block;
    &:hover {
      background-color: $title;
    }
  }
  &__img {
    max-width: 622px;
    object-fit: cover;
  }
  &__img-box {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 116px;
      height: 117px;
      background-image: url(../images/decor/decor-2.svg);
      left: -45px;
      bottom: -38px;
      z-index: -1;
    }
  }
}


/* Benefits section
================================== */
.benefits {
  background-color: rgba(255, 112, 88, 0.05);
  padding: 60px 0 124px;
  &__title {
    @extend %poppins-700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 82px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 15px;
    width: 400px;
    height: 666px;
    padding: 21px 25px;
  }
  &__item-img {
    margin-bottom: 13px;
    max-width: 350px;
    object-fit: cover;
  }
  &__item-title {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 12px;
  }
  &__item-text {
    @extend %poppins-500;
    font-size: 20px;
    line-height: 30px;
    color: #3C3E56;
  }
  &__item-date {
    @extend %poppins-500;
    font-size: 16px;
    line-height: 24px;
    color: $text;
  }
}


/* Contacts section
================================== */
.contacts {
  padding: 71px 0 55px;
  background-color: rgba(255, 112, 88, 0.05);
  &__items {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    display: flex;
  }
  &__image {
    padding: 22px 0 0 20px;
    margin-right: 146px;
  }
  &__img {
    max-width: 622px;
    object-fit: cover;
  }
  &__title {
    @extend %title-font;
    padding-top: 31px;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: $text;
    @extend %poppins-500;
    margin-bottom: 49px;
  }
  &__form-text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(18, 13, 38, 0.5);
    margin-bottom: 16px;
  }
  &__form-input {
    width: 466px;
    background: rgba(255, 112, 88, 0.05);
    border-radius: 10px;
    padding: 21px 16px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    @extend %poppins-500;
    outline: none;
    border: none;
    margin-bottom: 32px;
    &:focus {
      color: rgba(255, 112, 88, 0.5);
    }
    &::placeholder {
      color: rgba(255, 112, 88, 0.5);
    }
  }
  &__form-area {
    padding: 18px 24px;
    width: 466px;
    height: 206px;
    background: rgba(255, 112, 88, 0.05);
    border-radius: 10px;
    outline: none;
    border: none;
    resize: none;
    margin-bottom: 38px;
    &:focus {
      color: rgba(255, 112, 88, 0.5);
    }
    &::placeholder {
      color: rgba(255, 112, 88, 0.5);
    }
  }
  &__form-btn {
    @extend %accent-btn;
    cursor: pointer;
    border: none;
    padding: 24px 192px;
    margin-bottom: 38px;
    &:hover {
      background-color: $title;
    }
  }
}


/* Multiple section
================================== */
.multiple {
  background-color: rgba(255, 112, 88, 0.05);
  &__info {
    padding: 75px 0 112px;
    text-align: center;
  }
  &__info-title {
    @extend %poppins-700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }
  &__info-text {
    @extend %poppins-400;
    font-size: 20px;
    line-height: 30px;
    color: $text;
  }
  &__more {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    padding: 18px 22px 20px 23px;
  }
  &__more-img {
    max-width: 696px;
    object-fit: cover;
    margin-right: 39px;
  }
  &__more-date {
    @extend %poppins-300;
    font-size: 26px;
    line-height: 39px;
    color: rgba(18, 13, 38, 0.5);
    margin-bottom: 19px;
    padding-top: 32px;
  }
  &__more-title {
    @extend %poppins-700;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 38px;
  }
  &__more-text {
    @extend %poppins-300;
    font-size: 26px;
    line-height: 39px;
    color: rgba(18, 13, 38, 0.5);
    margin-bottom: 54px;
  }
  &__more-btn {
    @extend %title-btn;
    padding: 22px 82px 22px 48px;
    position: relative;
    &:hover {
      background-color: $accent;
    }
    &::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 16px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 52px;
      bottom: 26px;
    }
  }
}


/* Blogs section
================================== */
.blogs {
  padding-top: 62px;
  background-color: rgba(255, 112, 88, 0.05);
  text-align: center;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 43px 21px;
    margin-bottom: 120px;
  }
  &__item {
    background: #FFFFFF;
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    padding: 21px 22px;
    width: 412px;
    min-height: 878px;
    text-align: left;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.15);
    }
  }
  &__img {
    margin-right: 0;
    max-width: 367px;
    object-fit: cover;
    margin-bottom: 36px;
  }
  &__item-date {
    @extend %poppins-400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(18, 13, 38, 0.5);
    margin-bottom: 30px;
  }
  &__item-title {
    @extend %poppins-700;
    color: $title;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  &__item-text {
    @extend %poppins-400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(18, 13, 38, 0.5);
  }
  &__btn {
    @extend %accent-btn;
    padding: 22px 67px;
    display: inline-block;
    margin-bottom: 119px;
    &:hover {
      background-color: $title;
    }
  }
}


/* Single-blog section
================================== */
.single-blog {
  padding-bottom: 108px;
  background: rgba(255, 112, 88, 0.05);
  &__box {
    background: #FFFFFF;
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    padding: 21px;
    margin-bottom: 37px;
  }
  &__img {
    width: 1279px;
    object-fit: cover;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 146px;
  }
  &__info {
    padding-top: 38px;
    margin-right: 55px;
  }
  &__date {
    @extend %poppins-300;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 15px;
  }
  &__title {
    @extend %poppins-700;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 48px;
    width: 809px;
  }
  &__text {
    @extend %poppins-300;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 34px;
  }
  &__image {
    max-width: 359px;
    object-fit: cover;
  }
  &__img--first {
    margin-left: 29px;
    float: right;
  }
  &__img--second {
    margin-right: 38px;
    float: left;
  }
  &__button {
    text-align: center;
  }
  &__btn {
    @extend %accent-btn;
    padding: 22px 66px;
    &:hover {
      background-color: $title;
    }
  }
}

/* Aside
================================== */
.aside {
  align-self: start;
  background: #FFFFFF;
  box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
  border-radius: 15px;
  padding: 38px 43px;
  &__item {
    width: 218px;
    margin-bottom: 42px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    @extend %raleway-300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
  }
  &__title {
    @extend %raleway-700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    transition: all .3s;
    &:hover {
      color: $accent;
    }
  }
}
